<% message.subject = 'Study reminder!' %>

<% if @student %>
<p>Dear <%= @student.full_name %>,</p><br>
<% else %>
<p>Dear Student,</p><br>
<% end %>

<p>I just wanted to remind you that we have a test coming up soon!</p>

<p>Please remember to review your notes from class, and your review worksheets. Studying in groups is always helpful, so try to meet up with your study buddies this weekend to prepare for your test.</p>

<p>Feel free to email me if you have any questions.</p><br>

<p>Good luck & happy studying! ☺</p>