<% if @groups %>

	<% @groups.each do |group| %>
	  <p><% group.students.each do |kid| %></p>
	    <%= kid.full_name %>
	  <% end %>
	  <hr>
	<% end %>

  <%= link_to "Back to course page", teacher_class_path(current_user, @course_section) %>
<% end %>