<% if @group %>
	Current work groups for <%= @group.course_section.name %>:

	<% @groups.each do |group| %>
	  <p><% group.students.each do |kid| %></p>
	    <%= kid.full_name %>
	  <% end %>
	  <hr>
	<% end %>
<% end %>