<body style='style=background-image: url("clipboard_paper.png"); background-size: cover; background-repeat: no-repeat; background-position: center;'>
<!-- <div class="index-wrapper" style='padding-left:170px; padding-top:200px;'> -->

<div class="jumbotron" style="height: 500px;">
  <div class="container">
    <div class="row" style="padding-top:22%;">
      <% if current_user %>
        <h2>Welcome, <%= current_user.full_name %>!</h2><br>
        <h4><%= link_to "Add a new student to the system", new_student_path %></h4>
      <% else %>
        <h1>Clipboard<h1>
        <h2>A smarter tool for smarter teachers.</h2>
      <% end %>
    </div>
  </div>
</div>

  <%= render 'layouts/footer' %>

</body>

<!-- style='background-image: url("clipboard_paper.png"); background-size: cover; background-repeat: no-repeat;' -->
<!-- style="font-family: 'Droid Sans', sans-serif; font-weight: 700;"
style="padding-bottom:45px;font-family: 'Droid Sans', sans-serif; font-weight: 400; -->